<div class="blog-section">
  {% if include.title %}
    <h2 class="blog-section__title">{{ include.title }}</h2>
  {% endif %}

  {% if include.description_html %}
    <div class="blog-section__description">
      {{ include.description_html | markdownify }}
    </div>
  {% endif %}

  {% if include.show_posts %}
    <div class="blog-section__posts">
      {% assign posts_to_show = site.posts %}
      {% for post in posts_to_show %}
        {% include blog-card.html post=post %}
      {% endfor %}
    </div>
  {% endif %}

  {% if include.link_url %}
    <div class="blog-section__link">
      <a href="{{ include.link_url }}" class="button">See All Posts</a>
    </div>
  {% endif %}
</div>