<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="social-links">
          {% for item in site.data.social %}
            <a href="{{ item.link }}" target="_blank" class="social-link">
              <i class="icon-{{ item.icon | downcase }}"></i>
              <span class="sr-only">{{ item.icon }}</span>
            </a>
          {% endfor %}
        </div>

        <ul class="footer_nav list-reset">
          {% for item in site.data.footer.footer_menu__settings.menu__items %}
          <li class="footer_nav__item">
            <a href="{{ item.url | relative_url }}" class="footer_nav__link">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <div class="copyright">{{ site.data.footer.copyright_text_html }}</div>

      </div>
    </div>
  </div>
</footer>
<!-- end footer -->