<div class="projects-section container">
  {% if include.title %}
    <h2 class="section-title">{{ include.title }}</h2>
  {% endif %}
  
  {% if include.description_html %}
    <div class="section-description">
      {{ include.description_html | markdownify }}
    </div>
  {% endif %}

  {% if include.show_projects %}
    <div class="projects-list row">
      {% for project in site.projects %}
        {% include project-card.html project=project %}
      {% endfor %}
    </div>
  {% endif %}

  {% if include.link_url %}
    <div class="projects-link">
      <a href="{{ include.link_url }}" class="btn btn-primary">See all projects</a>
    </div>
  {% endif %}
</div>